<a href="https://colab.research.google.com/github/JuanCarlosLaraGallego/4GeeksAcademy/blob/master/Pre_Work_4geeks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

In [ ]:
numero = random.randint(1,10)

In [ ]:
print("Número aleatorio:", numero)

Número aleatorio: 3

In [ ]:
valor = 14

if valor < 10:
    print("El valor es una unidad")
elif valor < 100:
    print("El valor es una decena")
elif valor < 1000:
    print("El valor es una centena")
elif valor < 10000:
    print("El valor es una unidad de mil")
else:
    print("El valor es un número más allá de los miles")

El valor es una decena

In [ ]:
nombre = "Juan Carlos"
apellido = "Lara Gallego"
nombre_completo = nombre + " " + apellido
print("Mi nombre es " + nombre_completo)

Mi nombre es Juan Carlos Lara Gallego

In [ ]:
nombre1 = "Pepe"
nombre2 = "Juan"
if nombre1 == nombre2:
  print("Esto es falso, no se imprimirá")
if nombre1 == "Pepe":
  print("Esto es verdadero, se imprimirá")
if nombre1 != nombre2:
  print("Esto es verdadero, se imprimirá")

Esto es verdadero, se imprimirá
Esto es verdadero, se imprimirá

In [ ]:
numero = 3.4 # Soy un número
numero_como_string = str(numero) # Soy un string con valor "3.4"

In [ ]:
cadena = "El lenguaje Python"
print( cadena[1:5]) # Imprime "l le"
print( cadena[0: ]) # Imrpime "l lenguaje Python"
print( cadena[:5]) #Imprime "El l"

l le
El lenguaje Python
El le

In [ ]:
total = int(input('How much money do you have in your pocket\n'))

# ✅ ↓ YOUR CODE HERE ↓ ✅
if total > 100:
    print("Give me your money!")
elif total > 50:
    print("Buy me some coffee, you cheap!")
elif total <= 50:
    print("You are poor guy, go away!")
else:
    print("Invalid input") # Added a placeholder print for the else case, though the previous conditions cover all possibilities for total being an integer

How much money do you have in your pocket
55
Buy me some coffee, you cheap!

In [ ]:
total = int(input('How much money do you have in your pocket\n'))

if(total>100):
    print("Give me your money!")
elif(total>50):
    print("Buy me some coffee, you cheap!")
elif(total<=50):
    print("You are poor guy, go away!")
else:
    print("Invalid input") # Added a placeholder print for the else case

How much money do you have in your pocket
100
Buy me some coffee, you cheap!

In [ ]:
user_input = int(input('How many people are coming to your wedding?\n'))



if user_input <= 50:
    price = 4000
elif user_input <=100:
    price = 10000
elif user_input <=200:
    price = 15000
elif user_input > 200:
    price = 20000
else:
    # Assuming you might want a default price or message if none of the above conditions are met,
    # although the current elif conditions cover all integers greater than 0.
    # If user_input could be 0 or negative, you might want a different handling here.
    # For now, I'll add a placeholder print or set a default price if needed.
    # print("Invalid number of guests") # Example of printing a message
    pass # Using pass as a placeholder since the conditions cover > 0

print('Your wedding will cost '+str(price)+' dollars')

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipython-input-913904021.py", line 1, in <cell line: 0>
    user_input = int(input('How many people are coming to your wedding?\n'))
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/ipykernel/kernelbase.py", line 1177, in raw_input
    return self._input_request(
           ^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/ipykernel/kernelbase.py", line 1219, in _input_request
    raise KeyboardInterrupt("Interrupted by user") from None
KeyboardInterrupt: Interrupted by user

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
          ^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
                                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/inspect.py", line 1769, in getinnerframes
    traceback_info = getframeinfo(tb, context)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/inspect.py", line 1718, in getframeinfo
    lines, lnum = findsource(frame)
                  ^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/IPython/core/ultratb.py", line 182, in findsource
    lines = linecache.getlines(file, globals_dict)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/linecache.py", line 46, in getlines
    return updatecache(filename, module_globals)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/linecache.py", line 141, in updatecache
    with tokenize.open(fullname) as fp:
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/tokenize.py", line 459, in open
    encoding, lines = detect_encoding(buffer.readline)
                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/tokenize.py", line 428, in detect_encoding
    first = read_or_stop()
            ^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/tokenize.py", line 386, in read_or_stop
    return readline()
           ^^^^^^^^^^
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()

In [ ]:
import random
def get_randomInt(start, end):
        random_number = random.randint(start, end)
        return random_number

print(get_randomInt(1,10))

5

In [ ]:
import random

def get_randomInt():
	# ✅↓ Write your code here ↓✅
	random_number = random.randrange(1,12)
	return random_number

# ❌ ↓ DON'T CHANGE THE CODE BELOW ↓ ❌
print(get_randomInt())

1

In [ ]:
def standards_maker():
    for i in range(0, 300):
        print("I will ask questions if I am stuck")

# ✅↓ remember to call the function outside (here) ↓✅
standards_maker()

I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck
I will ask questions if I am stuck

In [ ]:
def fizz_buzz():
    # ✅↓ Write your code here ↓✅
    for i in range(1, 101):
        if i % 3 == 0 and i % 5 == 0:
            print("FizzBuzz")
        elif i % 3 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")
        else:
            print(i)

# ❌↓ DON'T CHANGE THE CODE BELOW ↓❌
fizz_buzz()

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
import random

def get_color(color_number=4):
    # Making sure is a number and not a string
    color_number = int(color_number)

    switcher = {
                  0:'red',
                  1:'yellow',
                  2:'blue',
                  3:'green',
                  4:'black'
              }

    return switcher.get(color_number,"Invalid Color Number")

# ❌ ⬆ DON'T CHANGE THE CODE ABOVE ⬆ ❌

def get_allStudentColors():
    example_color = get_color(1)
    students_array = []
    # ✅ ↓ your loop here ↓ ✅
    for i in range(10):
        students_array.append(get_color(random.randint(0,3)))

    return students_array

In [ ]:
import random

bullet_position = 3

def spin_chamber():
	chamber_position = random.randint(1,6)
	return chamber_position

# ❌ ⬆ DON'T CHANGE THE CODE ABOVE ⬆ ❌
def fire_gun():
	# ✅ ↓ your loop here ↓ ✅
	if spin_chamber() == bullet_position:
		return "You are dead!"
	else:
		return "Keep playing!"

print(fire_gun())

Keep playing!

In [ ]:
def sing():
    song = ""
    for i in range(11):
        if i == 4:
            song += "there will be an answer,\n"
        elif i == 10:
            song += "whisper words of wisdom, let it be"
        else:
            song += "let it be,\n"
    return song

sing()

'let it be,\nlet it be,\nlet it be,\nlet it be,\nthere will be an answer,\nlet it be,\nlet it be,\nlet it be,\nlet it be,\nlet it be,\nwhisper words of wisdom, let it be'

In [ ]:
def number_of_bottles():
    for x in range(99,2,-1):
        print(str(x) + " bottles of milk on the wall, " + str(x) + " bottles of milk. Take one down and pass it around, " + str(x-1)+ " bottles of milk on the wall.")
    print("2 bottles of milk on the wall, 2 bottles of milk. Take one down and pass it around, 1 bottle of milk on the wall.")
    print("1 bottle of milk on the wall, 1 bottle of milk. Take one down and pass it around, no more bottles of milk on the wall.")
    print("No more bottles of milk on the wall, no more bottles of milk. Go to the store and buy some more, 99 bottles of milk on the wall.")
    return None

number_of_bottles()

99 bottles of milk on the wall, 99 bottles of milk. Take one down and pass it around, 98 bottles of milk on the wall.
98 bottles of milk on the wall, 98 bottles of milk. Take one down and pass it around, 97 bottles of milk on the wall.
97 bottles of milk on the wall, 97 bottles of milk. Take one down and pass it around, 96 bottles of milk on the wall.
96 bottles of milk on the wall, 96 bottles of milk. Take one down and pass it around, 95 bottles of milk on the wall.
95 bottles of milk on the wall, 95 bottles of milk. Take one down and pass it around, 94 bottles of milk on the wall.
94 bottles of milk on the wall, 94 bottles of milk. Take one down and pass it around, 93 bottles of milk on the wall.
93 bottles of milk on the wall, 93 bottles of milk. Take one down and pass it around, 92 bottles of milk on the wall.
92 bottles of milk on the wall, 92 bottles of milk. Take one down and pass it around, 91 bottles of milk on the wall.
91 bottles of milk on the wall, 91 bottles of milk. Take one down and pass it around, 90 bottles of milk on the wall.
90 bottles of milk on the wall, 90 bottles of milk. Take one down and pass it around, 89 bottles of milk on the wall.
89 bottles of milk on the wall, 89 bottles of milk. Take one down and pass it around, 88 bottles of milk on the wall.
88 bottles of milk on the wall, 88 bottles of milk. Take one down and pass it around, 87 bottles of milk on the wall.
87 bottles of milk on the wall, 87 bottles of milk. Take one down and pass it around, 86 bottles of milk on the wall.
86 bottles of milk on the wall, 86 bottles of milk. Take one down and pass it around, 85 bottles of milk on the wall.
85 bottles of milk on the wall, 85 bottles of milk. Take one down and pass it around, 84 bottles of milk on the wall.
84 bottles of milk on the wall, 84 bottles of milk. Take one down and pass it around, 83 bottles of milk on the wall.
83 bottles of milk on the wall, 83 bottles of milk. Take one down and pass it around, 82 bottles of milk on the wall.
82 bottles of milk on the wall, 82 bottles of milk. Take one down and pass it around, 81 bottles of milk on the wall.
81 bottles of milk on the wall, 81 bottles of milk. Take one down and pass it around, 80 bottles of milk on the wall.
80 bottles of milk on the wall, 80 bottles of milk. Take one down and pass it around, 79 bottles of milk on the wall.
79 bottles of milk on the wall, 79 bottles of milk. Take one down and pass it around, 78 bottles of milk on the wall.
78 bottles of milk on the wall, 78 bottles of milk. Take one down and pass it around, 77 bottles of milk on the wall.
77 bottles of milk on the wall, 77 bottles of milk. Take one down and pass it around, 76 bottles of milk on the wall.
76 bottles of milk on the wall, 76 bottles of milk. Take one down and pass it around, 75 bottles of milk on the wall.
75 bottles of milk on the wall, 75 bottles of milk. Take one down and pass it around, 74 bottles of milk on the wall.
74 bottles of milk on the wall, 74 bottles of milk. Take one down and pass it around, 73 bottles of milk on the wall.
73 bottles of milk on the wall, 73 bottles of milk. Take one down and pass it around, 72 bottles of milk on the wall.
72 bottles of milk on the wall, 72 bottles of milk. Take one down and pass it around, 71 bottles of milk on the wall.
71 bottles of milk on the wall, 71 bottles of milk. Take one down and pass it around, 70 bottles of milk on the wall.
70 bottles of milk on the wall, 70 bottles of milk. Take one down and pass it around, 69 bottles of milk on the wall.
69 bottles of milk on the wall, 69 bottles of milk. Take one down and pass it around, 68 bottles of milk on the wall.
68 bottles of milk on the wall, 68 bottles of milk. Take one down and pass it around, 67 bottles of milk on the wall.
67 bottles of milk on the wall, 67 bottles of milk. Take one down and pass it around, 66 bottles of milk on the wall.
66 bottles of milk on the wall, 66 bottles of milk. Take one down and pass it around, 65 bottles of milk on the wall.
65 bottles of milk on the wall, 65 bottles of milk. Take one down and pass it around, 64 bottles of milk on the wall.
64 bottles of milk on the wall, 64 bottles of milk. Take one down and pass it around, 63 bottles of milk on the wall.
63 bottles of milk on the wall, 63 bottles of milk. Take one down and pass it around, 62 bottles of milk on the wall.
62 bottles of milk on the wall, 62 bottles of milk. Take one down and pass it around, 61 bottles of milk on the wall.
61 bottles of milk on the wall, 61 bottles of milk. Take one down and pass it around, 60 bottles of milk on the wall.
60 bottles of milk on the wall, 60 bottles of milk. Take one down and pass it around, 59 bottles of milk on the wall.
59 bottles of milk on the wall, 59 bottles of milk. Take one down and pass it around, 58 bottles of milk on the wall.
58 bottles of milk on the wall, 58 bottles of milk. Take one down and pass it around, 57 bottles of milk on the wall.
57 bottles of milk on the wall, 57 bottles of milk. Take one down and pass it around, 56 bottles of milk on the wall.
56 bottles of milk on the wall, 56 bottles of milk. Take one down and pass it around, 55 bottles of milk on the wall.
55 bottles of milk on the wall, 55 bottles of milk. Take one down and pass it around, 54 bottles of milk on the wall.
54 bottles of milk on the wall, 54 bottles of milk. Take one down and pass it around, 53 bottles of milk on the wall.
53 bottles of milk on the wall, 53 bottles of milk. Take one down and pass it around, 52 bottles of milk on the wall.
52 bottles of milk on the wall, 52 bottles of milk. Take one down and pass it around, 51 bottles of milk on the wall.
51 bottles of milk on the wall, 51 bottles of milk. Take one down and pass it around, 50 bottles of milk on the wall.
50 bottles of milk on the wall, 50 bottles of milk. Take one down and pass it around, 49 bottles of milk on the wall.
49 bottles of milk on the wall, 49 bottles of milk. Take one down and pass it around, 48 bottles of milk on the wall.
48 bottles of milk on the wall, 48 bottles of milk. Take one down and pass it around, 47 bottles of milk on the wall.
47 bottles of milk on the wall, 47 bottles of milk. Take one down and pass it around, 46 bottles of milk on the wall.
46 bottles of milk on the wall, 46 bottles of milk. Take one down and pass it around, 45 bottles of milk on the wall.
45 bottles of milk on the wall, 45 bottles of milk. Take one down and pass it around, 44 bottles of milk on the wall.
44 bottles of milk on the wall, 44 bottles of milk. Take one down and pass it around, 43 bottles of milk on the wall.
43 bottles of milk on the wall, 43 bottles of milk. Take one down and pass it around, 42 bottles of milk on the wall.
42 bottles of milk on the wall, 42 bottles of milk. Take one down and pass it around, 41 bottles of milk on the wall.
41 bottles of milk on the wall, 41 bottles of milk. Take one down and pass it around, 40 bottles of milk on the wall.
40 bottles of milk on the wall, 40 bottles of milk. Take one down and pass it around, 39 bottles of milk on the wall.
39 bottles of milk on the wall, 39 bottles of milk. Take one down and pass it around, 38 bottles of milk on the wall.
38 bottles of milk on the wall, 38 bottles of milk. Take one down and pass it around, 37 bottles of milk on the wall.
37 bottles of milk on the wall, 37 bottles of milk. Take one down and pass it around, 36 bottles of milk on the wall.
36 bottles of milk on the wall, 36 bottles of milk. Take one down and pass it around, 35 bottles of milk on the wall.
35 bottles of milk on the wall, 35 bottles of milk. Take one down and pass it around, 34 bottles of milk on the wall.
34 bottles of milk on the wall, 34 bottles of milk. Take one down and pass it around, 33 bottles of milk on the wall.
33 bottles of milk on the wall, 33 bottles of milk. Take one down and pass it around, 32 bottles of milk on the wall.
32 bottles of milk on the wall, 32 bottles of milk. Take one down and pass it around, 31 bottles of milk on the wall.
31 bottles of milk on the wall, 31 bottles of milk. Take one down and pass it around, 30 bottles of milk on the wall.
30 bottles of milk on the wall, 30 bottles of milk. Take one down and pass it around, 29 bottles of milk on the wall.
29 bottles of milk on the wall, 29 bottles of milk. Take one down and pass it around, 28 bottles of milk on the wall.
28 bottles of milk on the wall, 28 bottles of milk. Take one down and pass it around, 27 bottles of milk on the wall.
27 bottles of milk on the wall, 27 bottles of milk. Take one down and pass it around, 26 bottles of milk on the wall.
26 bottles of milk on the wall, 26 bottles of milk. Take one down and pass it around, 25 bottles of milk on the wall.
25 bottles of milk on the wall, 25 bottles of milk. Take one down and pass it around, 24 bottles of milk on the wall.
24 bottles of milk on the wall, 24 bottles of milk. Take one down and pass it around, 23 bottles of milk on the wall.
23 bottles of milk on the wall, 23 bottles of milk. Take one down and pass it around, 22 bottles of milk on the wall.
22 bottles of milk on the wall, 22 bottles of milk. Take one down and pass it around, 21 bottles of milk on the wall.
21 bottles of milk on the wall, 21 bottles of milk. Take one down and pass it around, 20 bottles of milk on the wall.
20 bottles of milk on the wall, 20 bottles of milk. Take one down and pass it around, 19 bottles of milk on the wall.
19 bottles of milk on the wall, 19 bottles of milk. Take one down and pass it around, 18 bottles of milk on the wall.
18 bottles of milk on the wall, 18 bottles of milk. Take one down and pass it around, 17 bottles of milk on the wall.
17 bottles of milk on the wall, 17 bottles of milk. Take one down and pass it around, 16 bottles of milk on the wall.
16 bottles of milk on the wall, 16 bottles of milk. Take one down and pass it around, 15 bottles of milk on the wall.
15 bottles of milk on the wall, 15 bottles of milk. Take one down and pass it around, 14 bottles of milk on the wall.
14 bottles of milk on the wall, 14 bottles of milk. Take one down and pass it around, 13 bottles of milk on the wall.
13 bottles of milk on the wall, 13 bottles of milk. Take one down and pass it around, 12 bottles of milk on the wall.
12 bottles of milk on the wall, 12 bottles of milk. Take one down and pass it around, 11 bottles of milk on the wall.
11 bottles of milk on the wall, 11 bottles of milk. Take one down and pass it around, 10 bottles of milk on the wall.
10 bottles of milk on the wall, 10 bottles of milk. Take one down and pass it around, 9 bottles of milk on the wall.
9 bottles of milk on the wall, 9 bottles of milk. Take one down and pass it around, 8 bottles of milk on the wall.
8 bottles of milk on the wall, 8 bottles of milk. Take one down and pass it around, 7 bottles of milk on the wall.
7 bottles of milk on the wall, 7 bottles of milk. Take one down and pass it around, 6 bottles of milk on the wall.
6 bottles of milk on the wall, 6 bottles of milk. Take one down and pass it around, 5 bottles of milk on the wall.
5 bottles of milk on the wall, 5 bottles of milk. Take one down and pass it around, 4 bottles of milk on the wall.
4 bottles of milk on the wall, 4 bottles of milk. Take one down and pass it around, 3 bottles of milk on the wall.
3 bottles of milk on the wall, 3 bottles of milk. Take one down and pass it around, 2 bottles of milk on the wall.
2 bottles of milk on the wall, 2 bottles of milk. Take one down and pass it around, 1 bottle of milk on the wall.
1 bottle of milk on the wall, 1 bottle of milk. Take one down and pass it around, no more bottles of milk on the wall.
No more bottles of milk on the wall, no more bottles of milk. Go to the store and buy some more, 99 bottles of milk on the wall.

In [ ]:
tienda = "Atenzia Store"
pedidos_hoy = 128
print("Tienda:", tienda, "Pedidos:", pedidos_hoy)

Tienda: Atenzia Store Pedidos: 128

In [ ]:
edad = int(input("¿Edad? "))
print("Tu edad dentro de 10 años será", edad + 10)

¿Edad? 44
Tu edad dentro de 10 años será 54

In [ ]:
nombre = "Mi nombre es Alejandro Sanchez"
print(nombre[11:20])
print(nombre[:10])
print(nombre[11:])

s Alejand
Mi nombre
s Alejandro Sanchez

In [ ]:
usuario = "Bob"
print(usuario == "bob")
print(usuario.lower() == "bob")

False
True

In [ ]:
precios = [12.5, 7.9, 21.0]
print(precios[0])

12.5

In [ ]:
es_vip = True
importe = 120
envio_gratis = es_vip or (importe > 100) # True si VIP o compra >100

In [ ]:
if importe >= 100:
  descuento = 0.10
elif importe >= 50:
  descuento = 0.05
else:
  descuento = 0

In [ ]:
tot = 0
for p in precios:
  tot += p
print("Total:", tot)

Total: 41.4

In [ ]:
def multiplicar(a,b):
  return a * b
resultado = multiplicar(2,3)
print(resultado)

resultado_1 = multiplicar(5,3)
print(resultado_1)

resultado_2 = multiplicar(10,3)
print(resultado_2)

6
15
30

In [ ]:
def calcular_costo(numero_de_invitados):
  precio_por_invitado = 10
  coste_total = numero_de_invitados * precio_por_invitado
  if numero_de_invitados > 200:
    coste_total = coste_total - (coste_total * 0.10)  # descuento de 10%
  return coste_total

In [ ]:
# Esta parte del código está FUERA de la función 'multiplicar'
def multiplicar(a,b):
    # Esta parte del código está DENTRO de mi función
    # porque está después de la declaración e indentada a la derecha

  return a * b

  # Esta parte del código está DENTRO
  # pero nunca se ejecutará porque se encuentra DESPUÉS del return

# esta parte del código está FUERA de la función 'multiplicar'
# porque ya no tiene la indentación a la derecha
print(str(multiplicar(34,2)))

68

In [ ]:
multiplicar = lambda a, b : a * b
resultado = multiplicar(2,3)
print(str(resultado))

6

In [ ]:
def suma(a,b):
  return a + b

def multiplicar(a,b):
  return a * b

resultado = multiplicar(suma(3,5),suma(1,1))
print(resultado)

16

In [ ]:
def suma(a,b):
  return a + b

def multiplicar(a,b):
  return a * b

resultado = multiplicar(suma(3,5),suma(1,1))
# Las ejecuciones van de adentro hacia afuera
# Primero, se calculará la suma de 3 + 5 y 1 + 1
# A continuación, se multiplicarán sus respectivos resultados

primero = suma(3,5)
segundo = suma(1,1)
resultado = multiplicar(primero,segundo)
print(resultado)
print(str(multiplicar(primero,segundo)))

16
16

In [ ]:
def sum(a,b):
  return a + b

def multiply(a,b):
  return a * b

result = multiply(sum(3,5),sum(1,1))
print(result)

16

In [ ]:
peoples_genre = ["m","m","m","f","m","m","f","m","f","f","f"]
peoples_ages = [23,45,12,19,40,29,56,70,17,26,29]
peoples_names = ["Tom","Rob","Emre","Liv","Ale","Bob","Alice","Jake","Yin","Kim","Lesly"]

def get_average(ages):
  sum = 0
  # sum all the ages
  for age in ages:
    sum += age
  # divide between the total number of ages
  return round(sum / len(ages))

def get_youngest(ages):
  # sort the array
  ages.sort()
  # return the first item because its sorted from small to big
  return ages[0]

def get_person_info(name):
  for position in range(0,len(peoples_names)):
    if name == peoples_names[position]:
      return "name: " + peoples_names[position] + ", age: " + str(peoples_ages[position]) + ", genre: " + peoples_genre[position]
  return "Person not found" # Return a message if the name is not found

print("We have an average age of " + str(get_average(peoples_ages)))
print("The youngest person has " +str(get_youngest(peoples_ages)) + " years old")
print("Here is Tom information -> "+get_person_info("Tom"))
print("Here is Alice Information -> "+get_person_info("Alice"))

We have an average age of 33
The youngest person has 12 years old
Here is Tom information -> name: Tom, age: 12, genre: m
Here is Alice Information -> name: Alice, age: 29, genre: f

In [ ]:
peoples_genre = ["m","m","m","f","m","m","f","m","f","f","f"]
peoples_ages = [23,45,12,19,40,29,56,70,17,26,29]
peoples_names = ["Tom","Rob","Emre","Liv","Ale","Bob","Alice","Jake","Yin","Kim","Lesly"]

def get_average(ages):
  sum = 0
  # sum all the ages
  for age in ages:
    sum += age
  # divide between the total number of ages
  return round(sum / len(ages))

def get_youngest(ages):
  if not ages:
    return None
  return min(ages) #no modifica el orden de la lista original

def get_person_info(name):
    name_norm = name.strip()
    for i, person_name in enumerate(peoples_names):
        if person_name == name_norm:
            return f"name: {person_name}, age: {peoples_ages[i]}, genre: {peoples_genre[i]}"
    return "Person not found"


print("We have an average age of " + str(get_average(peoples_ages)))
print("The youngest person has " + str(get_youngest(peoples_ages)) + " years old")
print("Here is Tom information -> "   + get_person_info("Tom"))
print("Here is Alice Information -> " + get_person_info("Alice"))

We have an average age of 33
The youngest person has 12 years old
Here is Tom information -> name: Tom, age: 23, genre: m
Here is Alice Information -> name: Alice, age: 56, genre: f

In [ ]:
people = [
  {"name":"Tom","age":23,"genre":"m"},
  {"name":"Rob","age":45,"genre":"m"},
  {"name":"Emre","age":12,"genre":"m"},
  {"name":"Liv","age":19,"genre":"f"},
  {"name":"Ale","age":40,"genre":"m"},
  {"name":"Bob","age":29,"genre":"m"},
  {"name":"Alice","age":56,"genre":"f"},
  {"name":"Jake","age":70,"genre":"m"},
  {"name":"Yin","age":17,"genre":"f"},
  {"name":"Kim","age":26,"genre":"f"},
  {"name":"Lesly","age":29,"genre":"f"},
]

def avg_age(people):
    return round(sum(p["age"] for p in people) / len(people))

def youngest_age(people):
    return min(p["age"] for p in people)

def person_info(name):
    for p in people:
        if p["name"] == name:
            return f"name: {p['name']}, age: {p['age']}, genre: {p['genre']}"
    return "Person not found"

print("We have an average age of " + str(get_average(peoples_ages)))
print("The youngest person has " + str(get_youngest(peoples_ages)) + " years old")
print("Here is Tom information -> "   + get_person_info("Tom"))
print("Here is Alice Information -> " + get_person_info("Alice"))

We have an average age of 33
The youngest person has 12 years old
Here is Tom information -> name: Tom, age: 23, genre: m
Here is Alice Information -> name: Alice, age: 56, genre: f

In [ ]:
my_list = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
print(my_list)
print(my_list[2])
print(my_list[0])

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
tuesday
sunday

In [ ]:
my_list = [4,5,734,43,45,100,4,56,23,67,23,58,45,3,100,4,56,23]
print(my_list[0])
print(my_list[1])
print(my_list[3])
print(my_list [-1])

4
5
43
23

In [ ]:
import random
def generate_random_list():
  aux_list = []
  random_lenght = random.randint(1,100)

  for i in range(random_lenght):
    aux_list.append(random_lenght)
    i += i
    return aux_list

my_stupid_list = generate_random_list()
print(my_stupid_list)
print(my_stupid_list [-1])

[70]
70

In [ ]:
for x in range(0,18):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [ ]:
import random
my_list = [4, 5, 734, 43, 45]
for i in range(10):
  my_list.append(random.randint(1,100))
print(my_list)

[4, 5, 734, 43, 45, 9, 13, 75, 1, 51, 50, 35, 39, 80, 93]

In [ ]:
my_list = [232,32,1,4,55,4,3,32,3,24,5,5,5,34,2,35,5365743,52,34,3,55]

for each_item in my_list:
    print(my_list[0])

232
232
232
232
232
232
232
232
232
232
232
232
232
232
232
232
232
232
232
232
232

In [ ]:
my_list = [232,32,1,4,55,4,3,32,3,24,5,5,5,34,2,35,5365743,52,34,3,55]

for each_item in my_list:
    print(each_item)

232
32
1
4
55
4
3
32
3
24
5
5
5
34
2
35
5365743
52
34
3
55

In [ ]:
my_sample_list = [3423,5,4,47889,654,8,867543,23,48,56432,55,23,25,12]

for i in range(0,len(my_sample_list)):
  print(my_sample_list[i])

3423
5
4
47889
654
8
867543
23
48
56432
55
23
25
12

In [ ]:
my_sample_list = [3423,5,4,47889,654,8,867543,23,48,56432,55,23,25,12]

for i in range(len(my_sample_list) - 1, -1, -1):
  print(my_sample_list[i])

12
25
23
55
56432
48
23
867543
8
654
47889
4
5
3423

In [ ]:
my_list = [3423,5,4,47889,654,8,867543,23,48,56432,55,23,25,12]

inicial_value = 7
stop_value = len(my_list)
increase_value = 1

for i in range(inicial_value, stop_value, increase_value):
    print(my_list[i])

23
48
56432
55
23
25
12

In [ ]:
names = ['Esmeralda','Kiko','Ruth','Lebron','Pedro','Maria','Lou','Fernando','Cesco','Bart','Annie']

names[1] = "Steven"
names[-1] = "Pepe"
names[0] = names[2] + names[4]
for i in range(len(names)-1,-1,-1):
    print(names[i])

Pepe
Bart
Cesco
Fernando
Lou
Maria
Pedro
Lebron
Ruth
Steven
RuthPedro

In [ ]:
people = ['Lebron','Aaliyah','Diamond','Dominique','Aliyah','Jazmin','Darnell','Hatfield','Hawkins','Hayden','Hayes','Haynes','Hays','Head','Heath','Hebert','Henderson','Hendricks','Hendrix','Henry','Hensley','Henson','Herman','Hernandez','Herrera','Herring','Hess','Hester','Hewitt','Hickman','Hicks','Higgins','Hill','Hines','Hinton','Hobbs','Hodge','Hodges','Hoffman','Hogan','Holcomb','Holden','Holder','Holland','Holloway','Holman','Holmes','Holt','Hood','Hooper','Hoover','Hopkins','Hopper','Horn','Horne','Horton','House','Houston','Howard','Howe','Howell','Hubbard','Huber','Hudson','Huff','Wally','Hughes','Hull','Humphrey','Hunt','Hunter','Hurley','Hurst','Hutchinson','Hyde','Ingram','Irwin','Jackson','Jacobs','Jacobson','James','Jarvis','Jefferson','Jenkins','Jennings','Jensen','Jimenez','Johns','Johnson','Johnston','Jones','Jordan','Joseph','Joyce','Joyner','Juarez','Justice','Kane','Kaufman','Keith','Keller','Kelley','Kelly','Kemp','Kennedy','Kent','Kerr','Key','Kidd','Kim','King','Kinney','Kirby','Kirk','Kirkland','Klein','Kline','Knapp','Knight','Knowles','Knox','Koch','Kramer','Lamb','Lambert','Lancaster','Landry','Lane','Lang','Langley','Lara','Larsen','Larson','Lawrence','Lawson','Le','Leach','Leblanc','Lee','Leon','Leonard','Lester','Levine','Levy','Lewis','Lindsay','Lindsey','Little','Livingston','Lloyd','Logan','Long','Lopez','Lott','Love','Lowe','Lowery','Lucas','Luna','Lynch','Lynn','Lyons','Macdonald','Macias','Mack','Madden','Maddox','Maldonado','Malone','Mann','Manning','Marks','Marquez','Marsh','Marshall','Martin','Martinez','Mason','Massey','Mathews','Mathis','Matthews','Maxwell','May','Mayer','Maynard','Mayo','Mays','Mcbride','Mccall','Mccarthy','Mccarty','Mcclain','Mcclure','Mcconnell','Mccormick','Mccoy','Mccray','Wally','Mcdaniel','Mcdonald','Mcdowell','Mcfadden','Mcfarland','Mcgee','Mcgowan','Mcguire','Mcintosh','Mcintyre','Mckay','Mckee','Mckenzie','Mckinney','Mcknight','Mclaughlin','Mclean','Mcleod','Mcmahon','Mcmillan','Mcneil','Mcpherson','Meadows','Medina','Mejia','Melendez','Melton','Mendez','Mendoza','Mercado','Mercer','Merrill','Merritt','Meyer','Meyers','Michael','Middleton','Miles','Miller','Mills','Miranda','Mitchell','Molina','Monroe','Lucas','Jake','Scott','Amy','Molly','Hannah','Lucas']

for i in range(len(people)):
    if people[i] == 'Wally':
        print(i)

65
198

In [ ]:
sample_list = [45, 67, 87, 23, 5, 32, 60]

new_list = []
for i in range(len(sample_list)-1,-1,-1):
    new_list.append(sample_list[i])

print("initial list: ", sample_list)
print("final list: ",new_list)

initial list:  [45, 67, 87, 23, 5, 32, 60]
final list:  [60, 32, 5, 23, 87, 67, 45]

In [ ]:
mix = [42, True, "towel", [2,1], 'hello', 34.4, {"name": "juan"}]

def print_types(some_list):
    for i in range(len(some_list)):
        print(type(some_list[i]))

print_types(mix)

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'str'>
<class 'float'>
<class 'dict'>

In [ ]:
my_list = [42, True, "towel", [2,1], 'hello', 34.4, {"name": "juan"}]

new_list=[]
for x in my_list:
    if type(x) == list or type(x) == dict:
        new_list.append(x)

print(new_list)

[[2, 1], {'name': 'juan'}]

In [ ]:
my_sample_list = [3423,5,4,47889,654,8,867543,23,48,5345,234,6,78,54,23,67,3,6,432,55,23,25,12]

def sum_all_values(list):
    total = 0
    for value in my_sample_list:
        total += value

    return total

print(sum_all_values(my_sample_list))

925960

In [ ]:
my_list = [4,5,734,43,45,100,4,56,23,67,23,58,45]

def sum_odds(my_list):
    total = 0
    for num in my_list:
        if num % 2 !=0:
            total += num
            return total
print(sum_odds(my_list))

5

In [ ]:
my_list = [3344,34334,454543,342534,4563456,3445,23455,234,262,2335,43323,4356,345,4545,452,345,434,36,345,4334,5454,345,4352,23,365,345,47,63,425,6578759,768,834,754,35,32,445,453456,56,7536867,3884526,4234,35353245,53244523,566785,7547,743,4324,523472634,26665,63432,54645,32,453625,7568,5669576,754,64356,542644,35,243,371,3251,351223,13231243,734,856,56,53,234342,56,545343]


for number in my_list:
    if number % 14 == 0:
        print(number)

434
56
56
56

In [ ]:
my_list = [1, 0, 0, 0, 1, 0, 0, 0, 1, 1]

def my_function(numbers):
    new_list = []
    for i in numbers:
        if numbers == 1:
            new_list.append(1)
        elif numbers == 0:
            new_list.append("Yahoo")


    return new_list

print(my_function(my_list))

[]

In [ ]:
my_list = [1, 0, 0, 0, 1, 0, 0, 0, 1, 1]

def my_function(numbers):
    new_list = []
    for i in numbers:
        if i == 1:          # ← compara el elemento, no la lista
            new_list.append(1)
        elif i == 0:
            new_list.append("Yahoo")
    return new_list

print(my_function(my_list))
# ['Yahoo'/'1' en el patrón esperado]

[1, 'Yahoo', 'Yahoo', 'Yahoo', 1, 'Yahoo', 'Yahoo', 'Yahoo', 1, 1]

In [ ]:
x = 20
while x >= 1:
    if x % 5 == 0:
        print(str(x) + "!")
    else:
        print(x)
    x -= 1
print("LITOFF")

20!
19
18
17
16
15!
14
13
12
11
10!
9
8
7
6
5!
4
3
2
1
LITOFF

In [ ]:
people = ['juan','ana','michelle','daniella','stefany','lucy','barak']

def delete_person(person_name):
    new_list = []
    for person_name in people:
        if person_name != "daniella":
            new_list.append(person_name)
        return new_list



# Don't delete anything below
print(delete_person("daniella"))
print(delete_person("juan"))
print(delete_person("emilio"))

['juan']
['juan']
['juan']

In [ ]:
people = ['juan','ana','michelle','daniella','stefany','lucy','barak']

def delete_person(name):
    new_list = []
    for person in people:          # usa un nombre distinto al del parámetro
        if person != name:         # compara con el argumento, no con un literal fijo
            new_list.append(person)
    return new_list                # fuera del bucle
print(delete_person("daniella"))
print(delete_person("juan"))
print(delete_person("emilio"))

['juan', 'ana', 'michelle', 'stefany', 'lucy', 'barak']
['ana', 'michelle', 'daniella', 'stefany', 'lucy', 'barak']
['juan', 'ana', 'michelle', 'daniella', 'stefany', 'lucy', 'barak']

In [ ]:
chunk_one = ['Lebron', 'Aaliyah', 'Diamond', 'Dominique', 'Aliyah', 'Jazmin', 'Darnell']
chunk_two = ['Lucas', 'Jake', 'Scott', 'Amy', 'Molly', 'Hannah', 'Lucas']


def merge_list(list1, list2):
    new_list = []                     # lista vacía
    for item in list1:                # recorre la primera lista
        new_list.append(item)         # añade cada elemento
    for item in list2:                # recorre la segunda lista
        new_list.append(item)
    return new_list                   # devuelve la lista unida



print(merge_list(chunk_one, chunk_two))

['Lebron', 'Aaliyah', 'Diamond', 'Dominique', 'Aliyah', 'Jazmin', 'Darnell', 'Lucas', 'Jake', 'Scott', 'Amy', 'Molly', 'Hannah', 'Lucas']

In [ ]:
def sort_odd_even(numbers):
    odd = []           # almacenará los números impares
    even = []          # almacenará los números pares

    # Recorrer la lista
    for n in numbers:
        if n % 2 != 0:     # impar
            odd.append(n)
        else:               # par
            even.append(n)

    sorted_list = []        # lista final
    sorted_list.extend(odd) # primero los impares
    sorted_list.extend(even)# luego los pares

    return sorted_list

In [ ]:
my_list = [43,23,6,87,43,1,4,6,3,67,8,3445,3,7,5435,63,346,3,456,734,6,34]

def max_integer(numbers):
    max_number = numbers[0]
    for num in numbers:
        if num > max_number:
            max_number = num
        return max_number
print(max_integer(my_list))

43

In [ ]:
my_list = [43,23,6,87,43,1,4,6,3,67,8,3445,3,7,5435,63,346,3,456,734,6,34]

def max_integer(numbers):
    max_number = numbers[0]
    for num in numbers:          # recorre todo
        if num > max_number:     # actualiza si encuentra uno mayor
            max_number = num
    return max_number            # ← fuera del for

print(max_integer(my_list))  # 5435

5435

In [ ]:
my_list = [3344,34334,454543,342534,4563456,3445,23455,234,262,2335,43323,4356,345,4545,452,345,434,36,345,4334,5454,345,4352,23,365,345,47,63,425,6578759,768,834,754,35,32,445,453456,56,7536867,3884526,4234,35353245,53244523,566785,7547,743,4324,523472634,26665,63432,54645,32,453625,7568,5669576,754,64356,542644,35,243,371,3251,351223,13231243,734,856,56,53,234342,56,545343]

min_number = my_list[0]

for num in my_list:
    if num < min_number:
        min_number = num
print(min_number)

23

In [ ]:
my_list = [2323,4344,2325,324413,21234,24531,2123,42234,544,456,345,42,5445,23,5656,423]

total = 0

for num in my_list:
    total += num

average = total / len(my_list)

print(average)

27278.8125

In [ ]:
contact = {
    "fullname": "Jane Doe",
    "phone": "321-321-4321",
    "email": "test@test.com"
}

for key, value in contact.items():
    print(key + ": " + value)

fullname: Jane Doe
phone: 321-321-4321
email: test@test.com

In [ ]:
coordinates_list = [[33.747252, -112.633853], [-33.867886, -63.987], [41.303921, -81.901693], [-33.350534, -71.653268]]

for coord in coordinates_list:
    print(coord[1])

-112.633853
-63.987
-81.901693
-71.653268

In [ ]:
celsius_values = [-2, 34, 56, -10]

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32


result = list(map(celsius_to_fahrenheit, celsius_values))

print(result)

[28.4, 93.2, 132.8, 14.0]

In [ ]:
my_numbers = [23,234,345,4356234,243,43,56,2]

def multiply_by_three(number):
    return number * 3
new_list = list(map(multiply_by_three, my_numbers))

print(new_list)

[69, 702, 1035, 13068702, 729, 129, 168, 6]

In [ ]:
names = ["Alice", "Bob", "Marry", "Joe", "Hilary", "Stevia", "Dylan"]

def prepender(name):
    return "My name is: " + name

new_list = list(map(prepender, names))

print(new_list)

['My name is: Alice', 'My name is: Bob', 'My name is: Marry', 'My name is: Joe', 'My name is: Hilary', 'My name is: Stevia', 'My name is: Dylan']

In [ ]:
mixed_list = ['1','5','45','34','343','34',6556,323]

def type_list(items):
        type(type_list)
        return

new_list = list(map(type_list, mixed_list))

print(new_list)

[None, None, None, None, None, None, None, None]

In [ ]:
import datetime

people = [
	{ "name": 'Joe',   "birth_date": datetime.datetime(1986,10,24) },
	{ "name": 'Bob',   "birth_date": datetime.datetime(1975,5,24) },
	{ "name": 'Erika', "birth_date": datetime.datetime(1989,6,12) },
	{ "name": 'Dylan', "birth_date": datetime.datetime(1999,12,14) },
	{ "name": 'Steve', "birth_date": datetime.datetime(2003,4,24) }
]

def calculate_age(date_of_birth):
    today = datetime.date.today()
    age = today.year - date_of_birth.year - (
        (today.month, today.day) < (date_of_birth.month, date_of_birth.day)
    )
    return age

def format_greeting(person):
    age = calculate_age(person["birth_date"])
    return f"Hello, my name is {person['name']} and I am {age} years old"

name_list = list(map(format_greeting, people))
print(name_list)

['Hello, my name is Joe and I am 39 years old', 'Hello, my name is Bob and I am 50 years old', 'Hello, my name is Erika and I am 36 years old', 'Hello, my name is Dylan and I am 25 years old', 'Hello, my name is Steve and I am 22 years old']

In [ ]:
the_bools = [0,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1]

def yes_and_no(value):
    if value == 1:
        return "wiki"
    else:
        return "woko"

new_list = list(map(yes_and_no, the_bools))
print(new_list)

['woko', 'wiki', 'woko', 'woko', 'wiki', 'wiki', 'wiki', 'woko', 'woko', 'wiki', 'woko', 'wiki', 'wiki', 'woko', 'woko', 'woko', 'woko', 'woko', 'woko', 'woko', 'woko', 'wiki', 'woko', 'woko', 'woko', 'woko', 'wiki']

In [ ]:
incoming_ajax_data = [
    { "name": 'Mario', "last_name": 'Montes' },
    { "name": 'Joe', "last_name": 'Biden' },
    { "name": 'Bill', "last_name": 'Clon' },
    { "name": 'Hilary', "last_name": 'Mccafee' },
    { "name": 'Bobby', "last_name": 'Mc birth' }
]

def data_transformer(data):
    def full_name(person):
        return person["name"] + " " + person["last_name"]
    return list(map(full_name, data))
print(data_transformer(incoming_ajax_data))

['Mario Montes', 'Joe Biden', 'Bill Clon', 'Hilary Mccafee', 'Bobby Mc birth']

In [ ]:
all_numbers = [23,12,35,5,3,2,3,54,3,21,534,23,42,1]


def filter_function(item):
    # Update here
    return item > 10

greater_than_ten = list(filter(filter_function, all_numbers))

print(greater_than_ten)

[23, 12, 35, 54, 21, 534, 23, 42]

In [ ]:
all_names = ["Romario", "Boby", "Roosevelt", "Emiliy", "Michael", "Greta", "Patricia", "Danzalee"]

def filter_function(name):
    return name[0].lower() == "r"   # comprueba si la primera letra es 'r'

resulting_names = list(filter(filter_function, all_names))

print(resulting_names)

['Romario', 'Roosevelt']

In [ ]:
tasks = [
	{ "label": 'Eat my lunch', "done": True },
	{ "label": 'Make the bed', "done": False },
	{ "label": 'Have some fun', "done": False },
	{ "label": 'Finish the replits', "done": False },
	{ "label": 'Replit the finishes', "done": True },
	{ "label": 'Ask for a raise', "done": False },
	{ "label": 'Read a book', "done": True },
	{ "label": 'Make a trip', "done": False }
]


def filter_done(task):
    return task["done"] == True

done_tasks = list(filter(filter_done, tasks))
print(done_tasks)

[{'label': 'Eat my lunch', 'done': True}, {'label': 'Replit the finishes', 'done': True}, {'label': 'Read a book', 'done': True}]

In [ ]:
names = ['Liam','Emma','Noah','Olivia','William','Ava','James','Isabella','Logan','Sophia','Benjamin','Mia','Mason','Charlotte','Elijah','Amelia','Oliver','Evelyn','Jacob','Abigail','Lucas','Harper','Michael','Emily','Alexander','Elizabeth','Ethan','Avery','Daniel','Sofia','Matthew','Ella','Aiden','Madison','Henry','Scarlett','Joseph','Victoria','Jackson','Aria','Samuel','Grace','Sebastian','Chloe','David','Camila','Carter','Penelope','Wyatt','Riley']

def contains_am(name):
    return 'am' in name.lower()

filtered_names = list(filter(contains_am, names))
print(filtered_names)

['Liam', 'William', 'James', 'Benjamin', 'Amelia', 'Samuel', 'Camila']

In [ ]:
all_colors = [
	{"label": 'Red', "sexy": True},
	{"label": 'Pink', "sexy": False},
	{"label": 'Orange', "sexy": True},
	{"label": 'Brown', "sexy": False},
	{"label": 'Pink', "sexy": True},
	{"label": 'Violet', "sexy": True},
	{"label": 'Purple', "sexy": False},
]

def filter_colors(color):
    # Deja pasar solo los colores "sexy"
    return color.get("sexy", False)

def generate_li(color):
    # Convierte el color en un <li>...</li>
    return f"<li>{color['label']}</li>"

result = list(map(generate_li, filter(filter_colors, all_colors)))
print(result)

['<li>Red</li>', '<li>Orange</li>', '<li>Pink</li>', '<li>Violet</li>']

In [ ]:
spanish_translations = { "dog": "perro", "house": "casa", "cat": "gato" }
spanish_translations["love"] = "amor"
spanish_translations["code"] = "codigo"
spanish_translations["smart"] = "inteligente"


# Don't touch the code below
print("Translation:", spanish_translations["dog"])
print(spanish_translations)

Translation: perro
{'dog': 'perro', 'house': 'casa', 'cat': 'gato', 'love': 'amor', 'code': 'codigo', 'smart': 'inteligente'}

In [ ]:
par = "Lorem ipsum dolor sit amet consectetur adipiscing elit Curabitur eget bibendum turpis Curabitur scelerisque eros ultricies venenatis mi at tempor nisl Integer tincidunt accumsan cursus"

counts = {}

for char in par.lower():
    if char != ' ':
        if char in counts:
            counts[char] += 1
        else:
            counts[char] = 1


print(counts)

{'l': 6, 'o': 6, 'r': 14, 'e': 18, 'm': 7, 'i': 19, 'p': 4, 's': 14, 'u': 14, 'd': 4, 't': 16, 'a': 8, 'c': 11, 'n': 10, 'g': 3, 'b': 4, 'q': 1, 'v': 1}

In [ ]:
def matrix_builder(n):
    matrix = []                  # lista principal (la matriz)
    for i in range(n):           # bucle para crear n filas
        row = []                 # lista temporal para cada fila
        for j in range(n):       # bucle interno para crear las columnas
            row.append(1)        # añadimos el número 1
        matrix.append(row)       # añadimos la fila completa a la matriz
    return matrix

In [ ]:
parking_state = [
  [1,1,1],
  [0,0,0],
  [1,1,2]
]

def get_parking_lot(parking_state):
    result = {
        "total_slots": 0,
        "available_slots": 0,
        "occupied_slots": 0
    }
    for row in parking_state:
        for cell in row:
            if cell == 1 or cell == 2:           # es una plaza
                result["total_slots"] += 1
                if cell == 2:                     # libre
                    result["available_slots"] += 1
                else:                             # ocupada
                    result["occupied_slots"] += 1
    return result

In [ ]:
def lyrics_generator(bits):
    result = []
    ones_in_a_row = 0

    for x in bits:
        if x == 0:
            result.append("Boom")
            ones_in_a_row = 0                  # se corta la racha de unos
        else:  # x == 1
            result.append("Drop the bass")
            ones_in_a_row += 1
            if ones_in_a_row == 3:
                result.append("!!!Break the bass!!!")
                ones_in_a_row = 0              # reiniciar para detectar nuevas rachas de 3

    return " ".join(result)
print(lyrics_generator([0,0,1,1,0,0,0]))
print(lyrics_generator([0,0,1,1,1,0,0,0]))
print(lyrics_generator([0,0,0]))
print(lyrics_generator([1,0,1]))
print(lyrics_generator([1,1,1]))

Boom Boom Drop the bass Drop the bass Boom Boom Boom
Boom Boom Drop the bass Drop the bass Drop the bass !!!Break the bass!!! Boom Boom Boom
Boom Boom Boom
Drop the bass Boom Drop the bass
Drop the bass Drop the bass Drop the bass !!!Break the bass!!!

In [ ]:
# Complete the function to return the tens digit and the units digit of any interger
def two_digits(number):
    # Your code here
    aux = str(number)
    return (int(aux[0]), int(aux[1]))


# Invoke the function with any two digit integer as its argument
print(two_digits(79))


### SOLUTION 2 ###

# def two_digits(number):
#     tens_digit = number // 10
#     ones_digit = number % 10

#     return tens_digit, ones_digit

# print(two_digits(37))

(7, 9)

In [ ]:
# Complete the function to return the swapped digits of a given two-digit integer
def swap_digits(num):
  # Your code here
  aux = str(num)[1] + str(num)[0]
  return int(aux)

# Invoke the function with any two-digit integer as its argument
print(swap_digits(30))

3

In [ ]:
# Complete the function to print the last two digits of an integer greater than 9
def last_two_digits(num):
    if num > 9: return int(str(num)[-2:])
    else: return num

# Invoke the function with any integer greater than 9
print(last_two_digits(212))

12

In [ ]:
sales_data = [
    {"day": 1, "product_a": 202, "product_b": 142, "product_c": 164},
    {"day": 2, "product_a": 206, "product_b": 121, "product_c": 338},
    {"day": 3, "product_a": 120, "product_b": 152, "product_c": 271},
    {"day": 4, "product_a": 174, "product_b": 137, "product_c": 266},
    {"day": 5, "product_a": 199, "product_b": 153, "product_c": 301},
    {"day": 6, "product_a": 230, "product_b": 199, "product_c": 202},
    {"day": 7, "product_a": 101, "product_b": 137, "product_c": 307},
    {"day": 8, "product_a": 137, "product_b": 179, "product_c": 341},
    {"day": 9, "product_a": 287, "product_b": 70, "product_c": 310},
    {"day": 10, "product_a": 157, "product_b": 71, "product_c": 238},
    {"day": 11, "product_a": 148, "product_b": 108, "product_c": 319},
    {"day": 12, "product_a": 287, "product_b": 64, "product_c": 339},
    {"day": 13, "product_a": 289, "product_b": 100, "product_c": 257},
    {"day": 14, "product_a": 154, "product_b": 113, "product_c": 280},
    {"day": 15, "product_a": 150, "product_b": 184, "product_c": 170},
    {"day": 16, "product_a": 172, "product_b": 67, "product_c": 281},
    {"day": 17, "product_a": 188, "product_b": 109, "product_c": 163},
    {"day": 18, "product_a": 108, "product_b": 139, "product_c": 202},
    {"day": 19, "product_a": 229, "product_b": 133, "product_c": 241},
    {"day": 20, "product_a": 210, "product_b": 57, "product_c": 324}
]

def total_sales_by_product(data, product_key):
    total = 0
    for day_data in data:
      total += day_data[product_key]
    return total

print(total_sales_by_product(sales_data,"product_a"))

3748

In [ ]:
def average_daily_sales(data,product_key):
  total = total_sales_by_product(data,product_key)
  days = len(data)
  return total / days

print("Average daily sales of product_b:", average_daily_sales(sales_data, "product_b"))

Average daily sales of product_b: 121.75

In [ ]:
def best_selling_day(data):
    best_day = None
    best_total = -1

    for day_data in data:
      day_total = (
        day_data["product_a"]
        + day_data["product_b"]
        + day_data["product_c"]
        )
      if day_total > best_total:
        best_total = day_total
        best_day = day_data["day"]
    return best_day

print("Día con mejor ventas:",best_selling_day(sales_data))

Día con mejor ventas: 12

In [ ]:
def days_above_threshold(data, product_key, threshold):
  count = 0
  for day_data in data:
    if day_data[product_key] > threshold:
      count += 1
  return count

print("Days when product_c exceeded 300 sales:", days_above_threshold(sales_data, "product_c", 300))

Days when product_c exceeded 300 sales: 8

In [ ]:
def top_product(data):
  total_a = total_sales_by_product(data,"product_a")
  total_b = total_sales_by_product(data, "product_b")
  total_c = total_sales_by_product(data, "product_c")

  if total_a>= total_b and total_a>= total_c:
    return "product_a"
  elif total_b >= total_a and total_b >= total_c:
    return "product_b"
  else:
    return "product_c"

print("Product with highest total sales:", top_product(sales_data))

Product with highest total sales: product_c

In [ ]:
  # Día con las peores ventas
def dia_peores_ventas(data):
   worst_day = None
   worst_total = None

   for day_data in data:
      day_total = (
         day_data["product_a"]
         + day_data["product_b"]
         + day_data["product_c"]
      )
      if worst_total is None or day_total < worst_total:
         worst_total = day_total
         worst_day = day_data["day"]
         return worst_day

print("Peor día de ventas:", dia_peores_ventas(sales_data))

Peor día de ventas: 1

In [ ]:
# Top 3 Ventas
def top_3_ventas(data):
   totales = []
   for day_data in data:
      day_total = (
         day_data["product_a"]
         + day_data["product_b"]
         + day_data["product_c"]
      )
      totales.append((day_data["day"], day_total))

   totales.sort(key=lambda x: x[1], reverse=True)

   top3 = [day for day, total in totales[:3]]
   return top3

print("Top 3 días de ventas:", top_3_ventas(sales_data))

Top 3 días de ventas: [12, 9, 2]

In [ ]:
# Rango (max - min) de ventas de un producto
def sales_range(data, product_key):
    values = []

    for day_data in data:
        values.append(day_data[product_key])

    max_sales = max(values)
    min_sales = min(values)
    return max_sales - min_sales

print("Rango A:", sales_range(sales_data, "product_a"))

Rango A: 188

0. Modelo mental general: ¿qué es un programa en Python?

Un programa es simplemente:
Una lista de instrucciones que Python ejecuta de arriba a abajo.


Ejemplo:

a = 3 + 2

b = a * 4

print(b)


Orden real:

Calcula 3 + 2 → guarda 5 en a.

Calcula a * 4 → 5 * 4 = 20 → guarda 20 en b.

print(b) muestra 20.

Todo lo que ves en los cuadernos son variaciones de esto:

instrucciones simples (sumas, asignaciones)

decisiones (if)

repeticiones (for, while)

funciones (def) que agrupan instrucciones.

1. Variables y tipos: la base de todo
1.1. Variables

Piensa en variable = una etiqueta pegada a un valor en memoria.

x = 10
nombre = "Juan"
activo = True


x ➜ etiqueta, 10 ➜ valor.

El signo = en programación no significa “igual que”, sino “asignar”:

“pon en x el valor 10”.

1.2. Tipos básicos que usas mucho en los ejercicios

int → enteros (5, 0, -3)

float → decimales (3.14, 1.0)

str → cadenas ("hola")

bool → booleanos (True, False)

list → listas ([1, 2, 3])

dict → diccionarios ({"nombre": "Ana", "edad": 12})

Muchos ejercicios son de convertir un tipo en otro, o de usar sus operaciones.

2. Operadores y fórmulas: entender “las cuentas”
2.1. Aritméticos

+, -, *, / (división con decimales), // (división entera)

% (módulo, resto de la división)

** (potencia)

Ejemplos que ya has usado:

Últimos dos dígitos

In [ ]:
def last_two_digits(num):
    return num % 100
num = 568947.42
print(last_two_digits(num))

47.42000000004191

Dígito de las decenas

In [ ]:
def tens_digit(num):
    return (num // 10) % 10
print(tens_digit(568947.42))

4.0

In [ ]:
def tens_digit(num):
    return (num // 10) % 10
num = 155255
print(tens_digit(num))

5

2.2. Comparación y lógica

En condicionales y filtros:

Comparación: ==, !=, <, <=, >, >=

Lógica: and, or, not

In [ ]:
n = 125
if n % 2 == 0:
    print("par")
else:
    print("impar")

impar

3. Funciones (def) y return: la caja negra

In [ ]:
def nombre_funcion(par1, par2):
    # bloque indentado
    resultado = par1 + par2
    return resultado

In [ ]:
def two_timestamp(hr1, min1, sec1, hr2, min2, sec2):
    t1 = hr1 * 3600 + min1 * 60 + sec1
    t2 = hr2 * 3600 + min2 * 60 + sec2
    diff = t2 - t1
    return diff
two_timestamp(1,1,1,2,2,2)

3661

In [ ]:
def digital_clock(n):
  hours = (n // 60) % 24
  minutes = n % 60
  return (hours, minutes)

digital_clock(120)

(2, 0)

4. Condicionales if y decisiones

if condicion:

    # bloque si es True

elif otra_condicion:

    # bloque alternativo

else:

    # si nada de lo anterior

Usos que has visto:

Validar antes de dividir (if b == 0 → error).

Elegir entre devolver "Yahoo" o 1.

Filtrar elementos en listas.

In [ ]:
my_list = [1, 0, 0, 0, 1, 0, 0, 0, 1, 1]
new_list = []
for n in my_list:
    if n == 1:
        new_list.append(1)
    else:  # n == 0
        new_list.append("Yahoo")

print(new_list)

[1, 'Yahoo', 'Yahoo', 'Yahoo', 1, 'Yahoo', 'Yahoo', 'Yahoo', 1, 1]

![image.png]()

5. Bucles for y while: repetir trabajo

5.1. for sobre listas

for x in mi_lista:

    print(x)

In [ ]:
my_list=["Thiago", "Duyolis","Benzema"]

for x in my_list:
  print(x)

#Recorre la lista de principio a fin, en orden.

Thiago
Duyolis
Benzema

5.2. for con range

In [ ]:
for i in range(0, len(my_list)):
    print(i, my_list[i])

#range(inicio, fin) recorre desde inicio hasta fin-1.

0 Thiago
1 Duyolis
2 Benzema

La clave está en entender qué números genera:

range(inicio, fin_exclusivo, paso)

En nuestro caso:

range(len(mi_lista)-1, -1, -1)

Lo vamos a ver con un ejemplo concreto y luego interpretamos los tres -1.

Supón:

mi_lista = ['a', 'b', 'c', 'd', 'e']
len(mi_lista) = 5


Los índices son:

posición 0 → 'a'  -> elemento 1 = a

posición 1 → 'b'  -> elemento 2 = b

posición 2 → 'c'  -> elemento 3 = c

posición 3 → 'd'  -> elemento 4 = d

posición 4 → 'e'  -> elemento 5 = e

1️⃣ Primer -1: len(mi_lista) - 1
len(mi_lista) - 1   →   5 - 1 = 4


Ese valor es el índice del último elemento.

Así que esta parte:

range(len(mi_lista)-1, -1, -1)


se convierte en:

range(4, -1, -1)

Aquí:

4 = empezamos en el índice 4 (último elemento).

Todavía no miramos los otros -1, solo sabemos que empezamos desde el final.

2️⃣ Segundo -1: el fin_exclusivo

La forma general es:

range(inicio, fin_exclusivo, paso)


En range(4, -1, -1):

inicio = 4

fin_exclusivo = -1

paso = -1

En Python, fin_exclusivo significa “hasta antes de ese valor”.
Es decir, el bucle genera valores mientras no llegue a -1.

Con un paso negativo (-1), range(4, -1, -1) va generando:

1ª vuelta: i = 4

2ª vuelta: i = 3

3ª vuelta: i = 2

4ª vuelta: i = 1

5ª vuelta: i = 0

siguiente sería -1, pero como el fin es -1 y es excluido, ahí se para.

🧠 Idea importante:

Ponemos fin_exclusivo = -1 porque queremos que llegue hasta el 0.
Como el fin no se incluye, pedimos que se detenga “antes de -1”, es decir, en 0.

Si hubiéramos escrito:

range(4, 0, -1)


Los valores serían: 4, 3, 2, 1 → no incluiría el 0, porque el 0 sería el fin_exclusivo.

3️⃣ Tercer -1: el paso

Este último parámetro indica cómo avanza el contador:

range(4, -1, -1)


paso = -1 quiere decir:
“En cada iteración, resta 1 al valor actual”.

Por eso la secuencia es:

Empieza en 4

Luego 3 (4 - 1)

Luego 2 (3 - 1)

Luego 1 (2 - 1)

Luego 0 (1 - 1)

Si restara 1 otra vez → -1, pero ahí ya se para.

Si el paso fuera positivo (por ejemplo, +1), con range(0, 5, 1) generaría: 0, 1, 2, 3, 4.

Aquí usamos -1 porque queremos ir hacia atrás.

In [ ]:
for i in range(len(my_list)-1, -1, -1):
    print(my_list[i])

#len(mi_lista)-1 → último índice. -1 (como límite) → hace que pare en 0. tercer -1 → paso negativo (orden de atrás hacia adelante).

Benzema
Duyolis
Thiago

Resumen cortito de los tres -1

En:

for i in range(len(mi_lista)-1, -1, -1):


len(mi_lista)-1
👉 calcula el último índice (empezar desde el final).

el segundo -1 (como fin_exclusivo)
👉 indica que el rango termina antes de -1, es decir, se queda en 0. Así incluimos el índice 0 en el recorrido.

el tercer -1 (paso)
👉 indica que vamos restando 1 en cada paso, o sea, recorremos la lista de derecha a izquierda.

El resultado es que i toma los valores:

4, 3, 2, 1, 0


Y por tanto:

mi_lista[i]


recorre la lista del último al primero.

In [ ]:
mi_lista = ['a', 'b', 'c', 'd', 'e']
len(mi_lista) == 5

True

In [ ]:
for i in range(len(mi_lista)-1,-1,-1):
  print(mi_lista)
  print(i)
  mi_lista[i]
  print(i,mi_lista[i])

['a', 'b', 'c', 'd', 'e']
4
4 e
['a', 'b', 'c', 'd', 'e']
3
3 d
['a', 'b', 'c', 'd', 'e']
2
2 c
['a', 'b', 'c', 'd', 'e']
1
1 b
['a', 'b', 'c', 'd', 'e']
0
0 a

In [ ]:
for i in range(0, len(mi_lista)):

    print(str(mi_lista))

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']

5.3. Recorrer de atrás hacia adelante

Has hecho esto muchas veces:

for i in range(len(mi_lista)-1, -1, -1):

    print(mi_lista[i])


len(mi_lista)-1 → último índice.

-1 (como límite) → hace que pare en 0.

tercer -1 → paso negativo.

Útil para:

Imprimir al revés

Construir listas invertidas

Ejercicios tipo “Loop from the end”

In [ ]:
mi_lista = ("Duyolis", "Thiago", "Benzema", "Juan Carlos")
for i in range(len(mi_lista)-1, -1, -1):
    print(mi_lista[i])

Juan Carlos
Benzema
Thiago
Duyolis

In [ ]:
mi_lista = ("Duyolis", "Thiago", "Benzema", "Juan Carlos")

for i in range(0,4,1):
  print(mi_lista[i])

Duyolis
Thiago
Benzema
Juan Carlos

5.4. while: repetir hasta que cambie una condición

Ejemplo de “Cuenta atrás con LIFTOFF”:

In [ ]:
x = 20
while x >= 1:
    if x % 5 == 0:
        print(f"{x}!")
    else:
        print(x)
    x -= 1

print("LIFTOFF")

20!
19
18
17
16
15!
14
13
12
11
10!
9
8
7
6
5!
4
3
2
1
LIFTOFF

Patrón:

Inicializas una variable (x = 20).

while comprueba la condición (x >= 1).

Dentro, actualizas x (x -= 1) para acercarte a salir del bucle.

Tienes este código:

if x % 5 == 0:

    print(f"{x}!")

else:

    print(x)


Te explico cada pieza de aquí:

1️⃣ Los paréntesis: son de la función print

En ambas líneas:


print(f"{x}!")

print(x)


Los paréntesis no tienen nada que ver con la condición ni con el f.
Son simplemente la llamada a la función:

print(...) → “llama a la función print y pásale lo que hay dentro”.

En un caso le pasas un texto formateado (f"{x}!"), en el otro la variable x.

¿Qué es la f delante de la cadena? → f-string

Esta parte:

f"{x}!"


es una f-string (formatted string literal).

La f delante de las comillas le dice a Python:

“Dentro de esta cadena, lo que vaya entre {} lo tienes que evaluar como código y sustituirlo por su valor”.

In [ ]:
nombre = "Juan"
print(f"Hola, {nombre}")

Hola, Juan

In [ ]:
x = 20
print(f"El valor es {x}")

El valor es 20

En tu caso:

f"{x}!"


significa:

Usa el valor de x

Conviértelo a texto

Y ponle un ! justo detrás

Si x = 20, entonces:

f"{x}!"   →   "20!"

¿Y las llaves {}?

Las llaves se usan solo dentro de f-strings para decir:

“Aquí va una expresión de Python que quiero incrustar”.

f"{x}!"        # `{x}` será reemplazado por el valor de x

f"{x} euros"   # ejemplo con texto

f"{x + 1}"     # también puede ser una expresión


Solo se usan en la versión con f delante.
En print(x) no hace falta porque ahí estás pasando directamente la variable, no dentro de un texto.

¿Por qué en el else es solo print(x)?

Porque en el else quieres imprimir solo el número, sin decoraciones:

print(x)


Eso imprime, por ejemplo:

19

18

17

En cambio, dentro del if quieres imprimir algo formateado, tipo “20!”:

print(f"{x}!")


Si x = 20 → imprime 20!

Esa exclamación no viene de ningún sitio “mágico”; es un simple carácter escrito dentro de la cadena.

Resumen en una frase

print(x) → imprime el valor de x tal cual.

print(f"{x}!") → imprime una cadena que se construye así:

toma el valor de x

conviértelo a texto

añade un ! pegado detrás
(gracias a la f-string y a las llaves {}).

No es que la condición tenga nada “especial” ahí; simplemente, en el caso de múltiplos de 5, se decidió mostrar el número con un ! usando una f-string.

6. Listas: el núcleo de tus cuadernos


6.1. Anatomía básica

In [ ]:
my_list = ['sunday', 'monday', 'tuesday', 'wednesday']

Ítems: 'sunday', 'monday', …

Índices: 0, 1, 2, 3

my_list[0] → 'sunday'

my_list[-1] → 'wednesday'

len(my_list) → 4

6.2. Lectura y escritura

Leer: my_list[2] → 'tuesday'

Escribir: my_list[4] = None → cambia 'thursday' por None.

Ejemplo de tu ejercicio:

In [ ]:
my_list = ['sunday', 'monday', 'tuesday', 'wednesday','thursday', 'friday', 'saturday']

In [ ]:
# 1. Tercer elemento
print(my_list[2])

tuesday

In [ ]:

# 2. Cambiar thursday a None
my_list[4] = None
print(my_list)

['sunday', 'monday', 'tuesday', 'wednesday', None, 'friday', 'saturday']

In [ ]:
# 3. Volver a imprimir esa posición
print(my_list[4])

None

6.3. Métodos importantes de listas

append(x) → añade al final.

insert(i, x) → inserta en posición i.

extend(otra_lista) → añade todos los elementos de otra lista.

pop() / pop(i) → saca (y devuelve) el último o el de posición i.

remove(valor) → elimina la primera ocurrencia de ese valor.

del lista[i:j] → borra un trozo.

In [ ]:
a = [10, 20, 30]

In [ ]:
a.append(40)        # [10,20,30,40]
print(a)

[10, 20, 30, 40, 40, 40, 40]

In [ ]:
a.insert(1, 15)     # [10,15,20,30,40]
a.extend([50,60])   # [10,15,20,30,40,50,60]
a.pop()             # quita 60
a.remove(60)        # quita la primera vez que aparece 20
del a[1:3]          # borra posiciones 1 y 2
print(a)

[10, 15, 15, 15, 15, 15, 15, 15, 30, 40, 40, 40, 40, 50, 50, 50, 50, 50, 50, 50]

6.4. Construir nuevas listas

Muchos ejercicios son de este tipo:

“Recorre una lista y crea una nueva con ciertos elementos transformados/filtrados”

Ejemplos:

Flip list (invertir en otra lista)

In [ ]:
sample_list = [45, 67, 87, 23, 5, 32, 60]
new_list = []

for i in range(len(sample_list)-1, -1, -1):
    new_list.append(sample_list[i])
print(new_list)

[60, 32, 5, 23, 87, 67, 45]

for i in range(...):

Ejemplo típico:

sample_list = [45, 67, 87, 23, 5, 32, 60]

new_list = []


for i in range(len(sample_list)-1, -1, -1):

    new_list.append(sample_list[i])


Aquí:

range(...) genera una secuencia de números: por ejemplo 6, 5, 4, 3, 2, 1, 0.

En cada vuelta del bucle, i toma uno de esos números índice.

Luego usamos ese número para acceder a la lista: sample_list[i].

👉 Por eso se suele llamar i de index (índice).
No es obligatorio llamarlo así, pero es una convención muy habitual cuando lo que te interesa es la posición.

Podrías llamarlo:

for indice in range(len(sample_list)-1, -1, -1):

    new_list.append(sample_list[indice])
    


y funcionaría igual.
La clave no es el nombre, sino lo que contiene: un número que usamos como índice.

In [ ]:
my_list = [42, True, "towel", [2,1], 'hello', 34.4, {"name":"juan"}]
new_list = []

for x in my_list:
    if type(x) == list or type(x) == dict:
        new_list.append(x)

print(new_list)  # [[2,1], {'name':'juan'}]

[[2, 1], {'name': 'juan'}]

for x in my_list:

Ejemplo con tipos:

my_list = [42, True, "towel", [2,1], 'hello', 34.4, {"name": "juan"}]

for x in my_list:

    print(type(x))


Aquí:

No usamos range, sino directamente for x in my_list.

Eso significa: “para cada elemento de my_list…”

En cada vuelta, x es directamente el valor de la lista:

1ª vuelta → x = 42

2ª vuelta → x = True

3ª vuelta → x = "towel"

etc.

👉 Por eso solemos usar nombres como x, item, elem, value, etc., porque representan el elemento de la lista, no el índice.

Igual que antes, el nombre es libre:

for elemento in my_list:

    print(type(elemento))

3️⃣ Entonces… ¿cuál es la diferencia real entre i y x?

No es que Python les dé un significado especial; la diferencia está en cómo estás recorriendo:

for i in range(...)

➜ i es un número (índice, contador).

for x in my_list

➜ x es el elemento de la lista (puede ser número, string, lista, dict…).

Nombrarlos distinto (i vs x) es una buena práctica para ayudarte a ti mismo a entender qué está pasando:

i → me recuerda “index / índice”.

x → me recuerda “valor genérico”.


4️⃣ Idea clave para que te lo quedes

No son “parámetros” especiales ni palabras reservadas.

Son nombres de variables que tú eliges.

En bucles con range → suelen representar índices (i, j, k).

En bucles sobre listas → suelen representar elementos (x, item, valor).


Mientras seas coherente y el nombre te ayude a entender si estás trabajando con posición o con valor, vas bien.

map() y filter(): atajos para trabajar con listas

7.1. map(función, lista) → aplica función a cada elemento

In [ ]:
def multiply_by_three(number):
    return number * 3

my_numbers = [1,2,3,4,5,6,7,8,9]
new_list = list(map(multiply_by_three, my_numbers))

print(new_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

Mentalmente:

Toma cada elemento → pásalo por la función → guarda el resultado.

Lo has usado para:

Multiplicar números.

Convertir Celsius → Fahrenheit.

Preparar cadenas tipo "My name is: X".

Transformar diccionarios de personas en frases tipo:
"Hello, my name is Joe and I am 32 years old".

7.2. filter(función, lista) → se queda con los que cumplen la condición

In [ ]:
def bigger_than_ten(n):
    return n > 10

all_numbers = [23,12,35,5,3,2,3,54,3,21,534,23,42,1]
filtered = list(filter(bigger_than_ten, all_numbers))
print(filtered)

[23, 12, 35, 54, 21, 534, 23, 42]

En tu cabeza:

“Quédate solo con los elementos para los que la función devuelve True.”

Usos que has visto:

Números > 10.

Nombres que empiezan por “R”.

Tareas done == True.

Nombres que contienen 'am'.

Colores “sexy”: {"label": 'Red', "sexy": True}.

8. Diccionarios y listas anidadas

8.1. Diccionarios

In [ ]:
contact = {
    "fullname": "Jane Doe",
    "phone": "321-321-4321",
    "email": "test@test.com"
}

print(contact["phone"])

321-321-4321

Recorrer diccionario:

In [ ]:
for key in contact:
    print(key, ":", contact[key])

fullname : Jane Doe
phone : 321-321-4321
email : test@test.com

o más cómodo:

In [ ]:
for key, value in contact.items():
    print(key, ":", value)

fullname : Jane Doe
phone : 321-321-4321
email : test@test.com

8.2. Listas de diccionarios

In [ ]:
tasks = [
    { "label": 'Eat my lunch', "done": True },
    { "label": 'Make the bed', "done": False },
]

In [ ]:
done_tasks = list(filter(lambda t: t["done"], tasks))
print(done_tasks)

[{'label': 'Eat my lunch', 'done': True}]

8.3. Listas de listas (matrices)

Has hecho:

matrix_builder(n) → matriz de 1s.

Parking lot → 0, 1, 2.

In [ ]:
def matrix_builder(n):
    return [[1 for _ in range(n)] for _ in range(n)]

In [ ]:
def get_parking_lot(state):
    total = free = occ = 0
    for row in state:
        for cell in row:
            if cell in (1,2):
                total += 1
                if cell == 2: free += 1
                if cell == 1: occ  += 1
    return {
        "total_slots": total,
        "available_slots": free,
        "occupied_slots": occ
    }

# Resumen Diccionarios y listas anidadas.

8.1. ¿Qué es un diccionario?

Un diccionario en Python es como una ficha o formulario:
en vez de tener posiciones 0, 1, 2…, tiene claves (keys) con valores (values).

In [ ]:
contact = {
    "fullname": "Jane Doe",
    "phone": "321-321-4321",
    "email": "test@test.com"
}

¿Qué hay aquí?

contact → nombre de la variable (la ficha completa).

{ ... } → indica que es un diccionario.

"fullname", "phone", "email" → claves (igual que los campos de un formulario).

"Jane Doe", "321-321-4321", "test@test.com" → valores asociados a cada clave.

Mentalmente:

contact["phone"] es como decir
“de la ficha de contacto, dame el campo teléfono”.

Acceder a uno valor dentro del diccionario (ficha, formulario, etc.)

In [ ]:
print(contact["phone"])

321-321-4321

Python busca en el diccionario la clave "phone".

Devuelve el valor asociado → "321-321-4321".

print lo muestra por pantalla.

8.2. Recorrer un diccionario

Es muy frecuente que quieras leer todas las claves y valores:

In [ ]:
for key in contact:
    print(key, ":", contact[key])

fullname : Jane Doe
phone : 321-321-4321
email : test@test.com

Línea por línea:

for key in contact:

Recorre el diccionario iterando por sus claves.

Primera vuelta: key = "fullname"

Segunda vuelta: key = "phone"

Tercera vuelta: key = "email"

print(key, ":", contact[key])

key → la clave actual (por ejemplo "phone").

contact[key] → el valor asociado a esa clave (por ejemplo "321-321-4321").

Versión más explícita

Usando método

contact.items() → devuelve pares (clave, valor).

En cada vuelta:

key = "fullname", value = "Jane Doe", etc.

In [ ]:
for key, value in contact.items():
    print(key, ":", value)

fullname : Jane Doe
phone : 321-321-4321
email : test@test.com

8.3. Caso real: lista de contactos (lista de diccionarios)

Muy típico: en vez de un solo contacto, tienes una lista de contactos.
Ahí aparecen las listas anidadas con diccionarios.

In [ ]:
contacts = [
    {"fullname": "Jane Doe", "phone": "321-321-4321", "email": "jane@example.com"},
    {"fullname": "John Smith", "phone": "654-654-7654", "email": "john@example.com"},
    {"fullname": "Ana López", "phone": "555-111-222", "email": "ana@example.com"}
]

contacts es una lista ([...]).

Cada elemento de la lista es un diccionario ({...}) con los datos de una persona.

Mentalmente: una lista de clientes que dentro tiene cada una de sus fichas de datos, estas fichas(diccionarios) tienen el nombre y apellido, teléfono y correo electrónico.

Recorrer todos los contactos

In [ ]:
for contact in contacts:
    print(contact["fullname"], "→", contact["phone"])

Jane Doe → 321-321-4321
John Smith → 654-654-7654
Ana López → 555-111-222

In [ ]:
for contact in contacts:
  print(contact["fullname"], "->",contact["email"])

Jane Doe -> jane@example.com
John Smith -> john@example.com
Ana López -> ana@example.com

Vuelta a vuelta:

Primera vuelta:

contact = {"fullname": "Jane Doe", ...}

contact["fullname"] → "Jane Doe"

contact["phone"] → "321-321-4321"

Segunda vuelta:

contact = {"fullname": "John Smith", ...}
... y así.

Filtrar

(ejemplo: dame solo los emails con dominio “example.com”)

In [ ]:
emails_example = []

for contact in contacts:
    if contact["email"].endswith("@example.com"):
        emails_example.append(contact["email"])

print(emails_example)

['jane@example.com', 'john@example.com', 'ana@example.com']

Línea por línea:

emails_example = []
Nueva lista vacía.

for contact in contacts:
Cada vuelta, contact es un diccionario de la lista.

if contact["email"].endswith("@example.com"):

Accede al email del contacto.

.endswith(...) verifica si termina en esa cadena.

emails_example.append(contact["email"])

Si la condición es True, añades el email a la lista de resultados.

8.4. Listas anidadas (matrices): listas de listas

Aquí hablamos de cosas como:

In [ ]:
matrix = [
    [1, 2, 3],   # fila 0
    [4, 5, 6],   # fila 1
    [7, 8, 9]    # fila 2
]

Es una lista que contiene otras listas.

Lo típico es interpretarla como una matriz o tabla:

filas y columnas.

In [ ]:
matrix[1]      # → [4, 5, 6]  (la fila 1)
#matrix[1] → segunda fila.

[4, 5, 6]

In [ ]:
matrix[1][2]   # → 6         (fila 1, columna 2)
#[2] → tercera columna dentro de esa fila.

6

In [ ]:
matrix[2]

[7, 8, 9]

In [ ]:
matrix[2][0]

7

8.5. Caso real: matrix_builder(n) (matriz de 1s)

In [ ]:
def matrix_builder(n):        #Defines una función que recibe n (tamaño de la matriz).
    m = []                    #Matriz vacía: empezarás a construirla fila a fila.
    for _ in range(n):        #Se repetirá n veces → crearás n filas. Usamos _ porque no necesitamos el índice.
        row = []              #Nueva fila vacía
        for _ in range(n):    #Otra vez n veces → cada fila tendrá n columnas.
            row.append(1)     #Añade un 1 a la fila. ras este bucle interno, row será algo como [1, 1, 1] (si n = 3).
        m.append(row)         #Añades la fila completa a la matriz. Tras todas las vueltas del bucle externo, m será
                              #[
                                  #[1,1,1],
                                  #[1,1,1],
                                  #[1,1,1]
                              #]
    return m                  #Devuelves la matriz n×n de unos.

8.6. Caso real más “de negocio”: parking (get_parking_lot)

Aquí mezclas listas anidadas con contadores.

Estado del parking:

In [ ]:
parking_state = [
  [1,0,1,1,0,1],
  [2,0,1,1,0,1],
  [1,0,2,1,0,1],
  [1,0,1,1,0,1],
  [1,0,1,1,0,2],
  [1,0,1,1,0,1]
]

Convención:

0 → pasillo (no es plaza).

1 → plaza ocupada.

2 → plaza libre.

Queremos una función:

In [ ]:
def get_parking_lot(state):                                                       #Función que recibe state, la matriz del parking.
    total = free = occ = 0                                                        #Tres contadores:
                                                                                  #total → total de plazas (ocupadas o libres).
                                                                                  #free → plazas libres.
                                                                                  #occ → plazas ocupadas.
    for row in state:                                                             #Recorre cada fila de la matriz.
                                                                                  #Primera vuelta: row = [1,0,1,1,0,1]
                                                                                  #Segunda vuelta: row = [2,0,1,1,0,1], etc.
        for cell in row:                                                          #Recorre cada “celda” dentro de la fila. cell será 1, 0 o 2 según el caso.
            if cell in (1, 2):                                                    #Si cell es 1 o 2, significa que es una plaza (no es pasillo).(1, 2) es una tupla; x in (1, 2) significa “¿x es 1 o 2?”.
                total += 1                                                        #Contamos una plaza más (libre u ocupada).
                if cell == 2:                                                     #Si vale 2 → la plaza está libre → free += 1.
                    free += 1

                if cell == 1:                                                     #Si vale 1 → la plaza está ocupada → occ += 1.
                    occ += 1                                                      #Tras recorrer toda la matriz, tienes:
                                                                                  #total = número total de plazas.
                                                                                  #free = plazas libres.
                                                                                  #occ = plazas ocupadas.

    return {"total_slots": total, "available_slots": free, "occupied_slots": occ} #Devuelves un diccionario resumen (muy típico en código real):

Hasta aquí tenemos definida la función.

![returnDicc.jpg]()

Casos de uso reales similares:

Asientos de un avión (ocupado / libre).

Habitaciones de hotel (estado por planta).

Mesas en un restaurante (ocupado / libre / reservado).

Ahora necesito dos cosas:



*   Tener la variable "state" (por ejemplo "parking_state") con la matriz:

parking_state = [
  [1,0,1,1,0,1],
  [2,0,1,1,0,1],
  [1,0,2,1,0,1],
  [1,0,1,1,0,1],
  [1,0,1,1,0,2],
  [1,0,1,1,0,1],
]

*   Llamo a la función y muestro el resultado

resultado = get_parking_lot(parking_state)
👉 Llamas a la función.

Dentro, state será igual a parking_state.

La función hace sus cuentas y devuelve el diccionario:

{"total_slots": 24, "available_slots": 3, "occupied_slots": 21}

Ese diccionario se guarda en la variable resultado.

print(resultado)

👉 Muestra en pantalla el contenido de resultado, es decir:

In [ ]:
resultado = get_parking_lot(parking_state)
print(resultado)

{'total_slots': 24, 'available_slots': 3, 'occupied_slots': 21}

🔹 No es obligatorio asignar primero el resultado de la función a una variable para poder imprimirlo.

🔹 Sí es muy recomendable muchas veces, porque te ayuda a reutilizar el resultado y a leer mejor el código.

Vamos a verlo con tu ejemplo de get_parking_lot.

🅰️ Opción 1 – Sin variable intermedia (imprimir directamente)

In [ ]:
print(get_parking_lot(parking_state))

{'total_slots': 24, 'available_slots': 3, 'occupied_slots': 21}

Aquí pasa todo de golpe:

Python evalúa primero get_parking_lot(parking_state)

→ la función devuelve el diccionario:

{"total_slots": 24, "available_slots": 3, "occupied_slots": 21}

print(...) recibe ese diccionario y lo muestra en pantalla.

No hay variable intermedia. Funciona perfectamente.

🅱️ Opción 2 – Con variable intermedia (más legible y reutilizable)

In [ ]:
resultado = get_parking_lot(parking_state)
print(resultado)

{'total_slots': 24, 'available_slots': 3, 'occupied_slots': 21}

Aquí:

resultado = get_parking_lot(parking_state)

→ guardas el diccionario devuelto en la variable resultado.


print(resultado)

→ imprimes el contenido de esa variable.

Ventajas de usar una variable:

Puedes usar el mismo resultado varias veces:

In [ ]:
resultado = get_parking_lot(parking_state)
print(resultado)
print("Plazas libres:", resultado["available_slots"])

{'total_slots': 24, 'available_slots': 3, 'occupied_slots': 21}
Plazas libres: 3

🧠 Qué debes quedarte

✅ Puedes imprimir una función directamente:
print(mi_funcion(...))

✅ También puedes guardar primero el resultado en una variable y luego imprimir:

x = mi_funcion(...); print(x)

❌ No es una obligación crear la variable; es una herramienta para organizar mejor tu código.

8.7. Conclusión mental para este punto

Diccionario → “ficha” con campos nombrados (name, age, email).

Lista de diccionarios → “tabla” de muchas fichas (ej: lista de personas, tareas, productos).

Lista de listas → matriz/tabla numérica (ej: celdas de parking, asientos, mapa de juego).

Combinar estas estructuras con for, if, map, filter te permite modelar casi cualquier problema real.

9. Patrones de lógica que se repiten mucho

Si entiendes estos, entiendes el 80% de los ejercicios:

Acumulador
Para sumar cosas, contar, concatenar strings…

In [ ]:
nums = [10, 20, 30, 40] # Define nums as a list of numbers

total = 0
for n in nums:
    total += n

print(total) # Added print to show the accumulated total

100

Contador

Para contar cuántas veces pasa algo.

In [ ]:
lista = [10, 20, 30, 40, 50, 60]

count = 0
for x in lista:
  if x > 20:
    count += 1
print(count)

4

Ejemplo real: contar cuántas tareas están completadas

Imagina que tienes una lista de tareas de trabajo (como en un gestor tipo Trello):

In [ ]:
tasks = [
    {"label": "Enviar informe", "done": True},
    {"label": "Llamar al cliente", "done": False},
    {"label": "Revisar presupuesto", "done": True},
    {"label": "Responder emails", "done": True},
]

Quieres saber: ¿cuántas tareas están marcadas como completadas?

Ahí entra el patrón contador:

In [ ]:
count_done = 0  # empezamos en 0

for task in tasks:
    if task["done"] == True:   # condición: la tarea está hecha
        count_done += 1        # sumamos 1 al contador

print("Tareas completadas:", count_done)

Tareas completadas: 3

🔍 Qué hace:

Recorre todas las tareas.

Cada vez que encuentra una con "done": True, suma 1.

Al final, count_done te dice cuántas tareas terminaste (en este caso, 3).

Búsqueda
Para encontrar un elemento (como Wally).

In [ ]:
people = ["Alice", "Bob", "Charlie", "David", "Eve", "Wally"]
pos = []
for i, name in enumerate(people):
    if name == "Wally":
        pos.append(i)
print(people)
print(pos)

['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Wally']
[5]

Construir nueva lista
A partir de otra, con o sin filtrado.

In [ ]:
vieja = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def condicion(x):
    # Example: return True if x is even
    return x % 2 == 0

# Define the 'transformación' function
def transformacion(x):
    # Example: return the number doubled
    return x * 2

# Now, the original loop can be executed
nueva = []
for x in vieja:
    if condicion(x):
        nueva.append(transformacion(x))

print("Original list (vieja):", vieja)
print("New list (nueva) after filtering and transforming even numbers:", nueva)

Original list (vieja): [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
New list (nueva) after filtering and transforming even numbers: [4, 8, 12, 16, 20]

#Modelo mental general: qué es Python para ti

Antes de hablar de funciones, métodos y listas, quiero que tengas esta imagen:

Un programa es una receta: una lista de instrucciones que Python ejecuta de arriba hacia abajo.

Ejemplo:

In [ ]:
a = 3 + 2        # 1) Calcula 3+2 y guarda 5 en a
b = a * 4        # 2) Calcula 5*4 y guarda 20 en b
print(a + b)     # 3) Muestra la suma de 20 + 5

25

Todas las piezas que ves en los cuadernos (funciones, listas, bucles…) son formas más potentes de escribir esas recetas:

Funciones = mini-recetas reutilizables.

Listas = conjuntos de datos sobre los que aplicas la lógica.

Bucles = “repite esto para cada elemento”.

map/filter = formas compactas de “aplica esta función a todos” o “quédate solo con estos”.

#Funciones de Python: la caja que hace algo y te devuelve un resultado

2.1. ¿Qué es una función?

Tu cuaderno de funciones gira en torno a esto:

def nombre(par1, par2):

    # bloque de código
    ...
    return algo


Piensa en función como:

Una caja que recibe datos (parámetros), hace algo con ellos y devuelve un resultado con return.

Ejemplo MUY típico que has hecho:

In [ ]:
def two_timestamp(hr1, min1, sec1, hr2, min2, sec2):
    t1 = hr1 * 3600 + min1 * 60 + sec1
    t2 = hr2 * 3600 + min2 * 60 + sec2
    diff = t2 - t1
    return diff

Llamada:

In [ ]:
print(two_timestamp(1,1,1,2,2,2))  # 3661

3661

**Paso a paso en tu mente:**

Entras en la función con:

hr1=1,

min1=1,

sec1=1,

hr2=2,

min2=2,

sec2=2.

Calculas t1 (segundos del primer momento).

Calculas t2 (segundos del segundo momento).

diff = t2 - t1.

return diff 👉 la caja te entrega ese número y se cierra.

2.2. return: salida y resultado

Reglas importantes:

Todo lo que vaya después de return no se ejecuta.

Si no escribes return, la función devuelve None.

Puedes usar return para:

Devolver un resultado.

Salir antes si algo no tiene sentido (división entre 0, datos inválidos, etc.).

*Ejemplo de salida temprana:*

In [ ]:
def dividir(a, b):
    if b == 0:
        return "Error: división por cero"
    return a / b

**Funciones que devuelven más de un valor**

In [ ]:
def digital_clock(n):
    hours = (n // 60) % 24
    minutes = n % 60
    return hours, minutes

*Eso devuelve en realidad una tupla (hours, minutes).*

Puedes hacer:

In [ ]:
h, m = digital_clock(150)       #Mentalmente: aquí la función me da una cajita con 2 valores dentro ---> h=2, m=30
print(digital_clock(150))       #Llamo a la función y la imprimo en pantalla

(2, 30)

Scope (ámbito): dónde vive cada variable

Aunque quizá no lo hayas visto aún muy formal, tus funciones ya demuestran esto:

In [ ]:
def sumar(a, b):
    resultado = a + b
    return resultado

print(resultado)  # ❌ da error: resultado solo existe dentro de la función

NameError: name 'resultado' is not defined

In [ ]:
def sumar(a, b):
    resultado = a + b
    return resultado

    print(resultado)  #indentado para meterlo dentro de la función (scope)

Variables dentro de una función son locales.

Solo existen y tienen sentido mientras se está ejecutando esa función.

Piensa:

La función tiene su propia “habitación de variables” separada del resto del programa.

#Funciones “de fábrica” que usas todo el rato (built-ins)

En ambos cuadernos salen funciones que ya vienen con Python:

print(x) → muestra por pantalla.

len(lista) → longitud (número de elementos).

type(x) → tipo de dato (int, str, list…).

range(inicio, fin_exclusivo, paso) → secuencia de enteros.

int(), float(), str() → conversiones de tipo.

sum(lista) (cuando te la dejan usar) → suma todos los elementos.

max(lista), min(lista) (cuando no te obligan a hacer tu propia versión).

list() → convierte a lista (por ejemplo un range o un map).

Cada una de estas es también una función: tienen parámetros y devuelven un resultado.

**Ejemplo con range**

In [ ]:
mi_lista = [4,5,734,43,45,100,4,56,23,67,23,58,45,3,100,4,56,23]

In [ ]:
for i in range(len(mi_lista)-1, -1, -1):
  print(my_list[i])

23
56
4
100
3
45
58
23
67
23
56
4
100
45
43
734
5
4

Paso a paso:

len(my_list)-1 → último índice. Esto da 17, el índice 17 comenzando desde índice 0 en la lista es el 23

-1 como segundo parámetro → se parará justo antes de -1, es decir, llegará hasta 0. Se detiene en el índice cer (justo delante del -1) que sería 4.

-1 como paso → va decreciendo (6,5,4,3,2,1,0…). Va en el sentido decreciente de uno en uno.

In [ ]:
my_index = [0,1,2,3,4,5,6,7,8,9]
for i in range(0,len(my_index)-1,2):
  print(my_index[i])

0
2
4
6
8

Conceptos básicos de listas

Índice: posición (0 a N-1).

Elemento: valor en esa posición.

my_list[0] → primer elemento.

my_list[-1] → último elemento.

len(my_list) → cuántos elementos hay.

#Métodos esenciales de listas

Estos son funciones “pegadas” a la lista (se llaman con el punto):

append(x) → añade al final.

insert(i, x) → inserta en posición i.

pop() / pop(i) → quita y devuelve el último o el de índice i.

remove(valor) → elimina la primera aparición de ese valor.

extend(otra_lista) → añade todos los elementos de otra lista.

sort() → ordena la lista en sitio.

copy() → copia superficial de la lista.

In [ ]:
names = ['Esmeralda','Kiko','Ruth','Lebron','Pedro','Maria']
names[1] = "Steven"       # cambiar elemento
names[-1] = "Pepe"        # cambiar último
names.append("Nuevo")     # añadir al final

print(names)

['Esmeralda', 'Steven', 'Ruth', 'Lebron', 'Pedro', 'Pepe', 'Nuevo']

In [ ]:
names = ['Esmeralda','Kiko','Ruth','Lebron','Pedro','Maria']
names[1] = "Steven"       # cambiar elemento
print(names)

['Esmeralda', 'Steven', 'Ruth', 'Lebron', 'Pedro', 'Maria']

In [ ]:
names = ['Esmeralda','Kiko','Ruth','Lebron','Pedro','Maria']
names[-1] = "Pepe"        # cambiar último

print(names)

['Esmeralda', 'Kiko', 'Ruth', 'Lebron', 'Pedro', 'Pepe']

In [ ]:
names.append("Nuevo")     # añadir al final
print(names)

['Esmeralda', 'Kiko', 'Ruth', 'Lebron', 'Pedro', 'Pepe', 'Nuevo']

#Patrones típicos que has repetido mucho

a) Construir una nueva lista a partir de otra

In [ ]:
mi_lista = [4,5,734,43,45,100,4,56,23,67,23,58,45,3,100,4,56,23]

def condición(x):
    # You need to define the logic for your condition here.
    # For example, let's say we want to filter numbers greater than 50.
    return x > 50

new_list = []
for x in mi_lista:
    if condición(x):
        new_list.append(x)
print(new_list)

[734, 100, 56, 67, 58, 100, 56]

Ejemplos:

Lista solo con pares.

Lista solo con impares.

Lista solo con dict y list (en el ejercicio Count On).

Lista invertida (Flip list).

b) Acumuladores y contadores

total = 0

for n in my_list:

    total += n   # suma todos

count = 0

for task in tasks:

    if task["done"]:
    
        count += 1   # cuenta cuántos done=True

Diccionarios y listas anidadas

Aquí es donde se ve la mezcla de conceptos.

5.1. Diccionarios

*Estructura:*

In [ ]:
contact = {
    "fullname": "Jane Doe",
    "phone": "321-321-4321",
    "email": "test@test.com"
}

Acceso: contact["phone"].

Recorrer:

In [ ]:
for key, value in contact.items():
    print(key, ":", value)

fullname : Jane Doe
phone : 321-321-4321
email : test@test.com

Listas de diccionarios (caso real)

Muy usados en tus ejercicios de tareas, personas, colores, etc.:

In [ ]:
tasks = [
    { "label": 'Eat my lunch', "done": True },
    { "label": 'Make the bed', "done": False },
    { "label": 'Read a book', "done": True }
]

*Filtrar solo las hechas:*

In [ ]:
done_tasks = list(filter(lambda t: t["done"], tasks))
print(done_tasks)

[{'label': 'Eat my lunch', 'done': True}, {'label': 'Read a book', 'done': True}]

*o con bucle:*

In [ ]:
done_tasks = []
for task in tasks:
    if task["done"]:
        done_tasks.append(task)
print(done_tasks)

[{'label': 'Eat my lunch', 'done': True}, {'label': 'Read a book', 'done': True}]

**Listas de listas (matrices)**

Ejemplo clave de tus cuadernos:

matrix_builder(n) → matriz de 1s.

parking_state en el ejercicio del parking.

In [ ]:
parking_state = [
  [1,0,1,1,0,1],
  [2,0,1,1,0,1],
  [1,0,2,1,0,1],
  ...
]

*Función que recorre esa matriz:*

In [ ]:
def get_parking_lot(state):
    total = free = occ = 0
    for row in state:          # primera dimensión (filas)
        for cell in row:       # segunda dimensión (columnas)
            if cell in (1, 2):
                total += 1
                if cell == 2:
                    free += 1
                if cell == 1:
                    occ += 1
    return {
        "total_slots": total,
        "available_slots": free,
        "occupied_slots": occ
    }

print(get_parking_lot(parking_state))

{'total_slots': 24, 'available_slots': 3, 'occupied_slots': 21}

*Esta función mezcla listas anidadas, diccionarios, bucles anidados y contadores: un caso real muy completo*

**Patrones de bucles que aparecen una y otra vez**

6.1. Recorrer todos los elementos

for x in my_list:

    # x es cada elemento

Recorrer por índice (con range)


for i in range(len(my_list)):

    # i = índice, my_list[i] = elemento

Recorrer al revés

for i in range(len(my_list)-1, -1, -1):

    # empezando desde el final hasta el índice 0

Bucle while: repetir hasta que cambie algo

x = 20

while x >= 1:

    if x % 5 == 0:

        print(f"{x}!")

    else:

        print(x)

    x -= 1


print("LIFTOFF")

while revisa una condición en cada vuelta.

Si es True, ejecuta el bloque y vuelve a empezar.

Si es False, sale del bucle.

Funciones que reciben otras funciones: map y filter


En tus cuadernos has trabajado mucho esto:


7.1. map(func, iterable) → transforma elementos


Ejemplo:

In [ ]:
def multiply_by_three(number):
    return number * 3

my_numbers = [23, 234, 345]
new_list = list(map(multiply_by_three, my_numbers))
print(new_list)

[69, 702, 1035]

*Mentalmente:*

Para cada número de my_numbers, llama a multiply_by_three y recoge el resultado en una nueva lista.

También lo usaste con Celsius → Fahrenheit:

def celsius_to_fahrenheit(celsius):

    return (celsius*9/5) + 32

result = list(map(celsius_to_fahrenheit, celsius_values))

ilter(func, iterable) → selecciona elementos

Ejemplo de números >10:

In [ ]:
all_numbers = [23,12,35,5,3,2,3,54,3,21,534,23,42,1]

def bigger_than_ten(n):
    return n > 10

filtered = list(filter(bigger_than_ten, all_numbers))
print(filtered)

[23, 12, 35, 54, 21, 534, 23, 42]

Mentalmente:

Pasa cada elemento a la función.

Si devuelve True, lo conserva; si devuelve False, lo descarta.

In [ ]:
x = 13
y = 5

x // y   #división entera (redondea hacia abajo) // te da el cociente

2

In [ ]:
x / y    # división exacta

2.6

In [ ]:
x % y  # Sobrante de la división % te da el resto

3

In [ ]:
a = 7
b = 3

In [ ]:
x = ( a// b) * b + (a % b)

In [ ]:
print(x)

7

In [ ]:
a // b

2

In [ ]:
2 * 3

6

In [ ]:
a % b

1

In [ ]:
6 + 1

7

In [ ]:
a ** b

343

In [ ]:
MASK = 0b010  # solo el segundo bit en 1
valor = 0b110 # bits: 1 1 0

if valor & MASK:
    print("El bit 1 está activo")

El bit 1 está activo